<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand mb-0 h1" href="#">Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/posts-list">Strona główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#">TOP 10</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/posts-add">Dodaj</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-2">
            <ng-template [ngIf]="!authService.isAuthenticated()">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/signup">Rejestracja</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/signin">Zaloguj</a>
                </li>
            </ng-template>
            <ng-template
                [ngIf]="authService.isAuthenticated()">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" style="cursor: pointer;" (click)="logoutUser()">Wyloguj</a>
                </li>
            </ng-template>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="tytuł, autor, kategoria" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Wyszukaj</button>
        </form>

    </div>
</nav>
