<div class="container-fluid h-100">
    <div class="row mt-4 justify-content-center align-items-center h-auto">
        <div class="col-lg-8">
            <form (ngSubmit)="onAddPost(f)" #f="ngForm">
                <div id="post-data">
                    <div class="form-group text-center">
                        <label for="title" class="font-weight-bold">Tytuł:</label>
                        <input
                            type="text"
                            class="form-control"
                            style="background-color: lemonchiffon"
                            id="title"
                            required
                            ngModel
                            name="title">
                    </div>
                    <div class="form-group text-center">
                        <label for="content" class="font-weight-bold">Treść:</label>
                        <textarea
                            type="password"
                            class="form-control"
                            id="content"
                            style="background-color: lemonchiffon"
                            rows="7"
                            required
                            ngModel
                            name="content"></textarea>
                    </div>
                    <label for="categories"
                           class="row justify-content-center h-auto font-weight-bold">Kategorie:</label>
                    <div id="categories"
                         class=" row mt-4 justify-content-center h-auto mb-2"
                         ngModelGroup="categories">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="celebrity"
                                    value="CELEBRITY"
                                    ngModel
                                    name="celebrity">
                                <label class="form-check-label" for="celebrity">Celebryci</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="animal"
                                    value="ANIMAL"
                                    ngModel
                                    name="animal">
                                <label class="form-check-label" for="animal">Zwierzęta</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="people"
                                    value="PEOPLE"
                                    ngModel name="people">
                                <label class="form-check-label" for="people">Ludzie</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="curiosity"
                                    value="CURIOSITY"
                                    ngModel
                                    name="curiosity">
                                <label class="form-check-label" for="curiosity">Ciekawostki</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="science"
                                    value="SCIENCE"
                                    ngModel
                                    name="science">
                                <label class="form-check-label" for="science">Nauka</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="funny"
                                    value="FUNNY"
                                    ngModel
                                    name="funny">
                                <label class="form-check-label" for="funny">Zabawne</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="nature"
                                    value="NATURE"
                                    ngModel
                                    name="nature">
                                <label class="form-check-label" for="nature">Natura</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="interestingPlace"
                                    value="INTERESTING_PLACE"
                                    ngModel
                                    name="interestingPlace">
                                <label class="form-check-label" for="interestingPlace">Interesujące miejsca</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="art"
                                    value="ART"
                                    ngModel
                                    name="art">
                                <label class="form-check-label" for="art">Sztuka</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="movie"
                                    value="MOVIE"
                                    ngModel
                                    name="movie">
                                <label class="form-check-label" for="movie">Film</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="fashion"
                                    value="FASHION"
                                    ngModel
                                    name="fashion">
                                <label class="form-check-label" for="fashion">Moda</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="sale"
                                    value="SALE"
                                    ngModel
                                    name="sale">
                                <label class="form-check-label" for="sale">Wyprzedaże</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="music"
                                    value="MUSIC"
                                    ngModel
                                    name="music">
                                <label class="form-check-label" for="music">Muzyka</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="culture"
                                    value="CULTURE"
                                    ngModel
                                    name="culture">
                                <label class="form-check-label" for="culture">Kultura</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="sport"
                                    value="SPORT"
                                    ngModel
                                    name="sport">
                                <label class="form-check-label" for="sport">Sport</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="warszawa"
                                    value="WARSZAWA"
                                    ngModel
                                    name="warszawa">
                                <label class="form-check-label" for="warszawa">Warszawa</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="lublin"
                                    value="LUBLIN"
                                    ngModel
                                    name="lublin">
                                <label class="form-check-label" for="lublin">Lublin</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="poznan"
                                    value="POZNAN"
                                    ngModel
                                    name="poznan">
                                <label class="form-check-label" for="poznan">Poznań</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="kielce"
                                    value="KIELCE"
                                    ngModel
                                    name="kielce">
                                <label class="form-check-label" for="kielce">Kielce</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="katowice"
                                    value="KATOWICE"
                                    ngModel
                                    name="katowice">
                                <label class="form-check-label" for="katowice">Katowice</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="gdansk"
                                    value="GDANSK"
                                    ngModel
                                    name="gdansk">
                                <label class="form-check-label" for="gdansk">Gdańsk</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="gdynia"
                                    value="GDYNIA"
                                    ngModel
                                    name="gdynia">
                                <label class="form-check-label" for="gdynia">Gdynia</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="krakow"
                                    value="KRAKOW"
                                    ngModel
                                    name="krakow">
                                <label class="form-check-label" for="krakow">Kraków</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="wroclaw"
                                    value="WROCLAW"
                                    ngModel
                                    name="wroclaw">
                                <label class="form-check-label" for="wroclaw">Wrocław</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imagePost" class="font-weight-light">Wybierz plik ze zdjęciem</label>
                        <input type="file" class="form-control-file" id="imagePost">
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-lg col-lg-3 mx-auto d-block"
                            [disabled]="!f.valid">Dodaj post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
