<div class="container-fluid h-100">
    <div class="row mt-4 justify-content-center align-items-center h-auto">
        <div class="col-lg-10">
            <form (ngSubmit)="onAddPost(fileInput.files)" #f="ngForm">
                <div id="post-data">
                    <div class="form-group text-center">
                        <label for="title" class="font-weight-bold">Tytuł:</label>
                        <input
                            type="text"
                            class="form-control"
                            style="background-color: lemonchiffon"
                            id="title"
                            required
                            ngModel
                            name="title">
                    </div>
                    <div class="form-group text-center">
                        <label for="content" class="font-weight-bold">Treść:</label>
                        <textarea
                            class="form-control"
                            id="content"
                            style="background-color: lemonchiffon"
                            rows="7"
                            required
                            ngModel
                            name="content"></textarea>
                    </div>
                    <label for="categories"
                           class="row justify-content-center h-auto font-weight-bold">Kategorie:</label>
                    <div id="categories"
                         class="row mt-4 justify-content-center h-auto mb-2"
                         ngModelGroup="categories"
                         name="categories">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="celebrity"
                                    ngModel
                                    name="celebrity"
                                >
                                <label class="form-check-label" for="celebrity">Celebryci</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="animal"
                                    ngModel
                                    name="animal">
                                <label class="form-check-label" for="animal">Zwierzęta</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="people"
                                    ngModel name="people">
                                <label class="form-check-label" for="people">Ludzie</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="curiosity"
                                    ngModel
                                    name="curiosity">
                                <label class="form-check-label" for="curiosity">Ciekawostki</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="science"
                                    ngModel
                                    name="science">
                                <label class="form-check-label" for="science">Nauka</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="funny"
                                    ngModel
                                    name="funny">
                                <label class="form-check-label" for="funny">Zabawne</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="nature"
                                    ngModel
                                    name="nature">
                                <label class="form-check-label" for="nature">Natura</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="interestingPlace"
                                    ngModel
                                    name="interestingPlace">
                                <label class="form-check-label" for="interestingPlace">Interesujące miejsca</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="art"
                                    ngModel
                                    name="art">
                                <label class="form-check-label" for="art">Sztuka</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="movie"
                                    ngModel
                                    name="movie">
                                <label class="form-check-label" for="movie">Film</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="fashion"
                                    ngModel
                                    name="fashion">
                                <label class="form-check-label" for="fashion">Moda</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="sale"
                                    ngModel
                                    name="sale">
                                <label class="form-check-label" for="sale">Wyprzedaże</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="music"
                                    ngModel
                                    name="music">
                                <label class="form-check-label" for="music">Muzyka</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="culture"
                                    ngModel
                                    name="culture">
                                <label class="form-check-label" for="culture">Kultura</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="sport"
                                    ngModel
                                    name="sport">
                                <label class="form-check-label" for="sport">Sport</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="warszawa"
                                    ngModel
                                    name="warszawa">
                                <label class="form-check-label" for="warszawa">Warszawa</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="lublin"
                                    ngModel
                                    name="lublin">
                                <label class="form-check-label" for="lublin">Lublin</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="poznan"
                                    ngModel
                                    name="poznan">
                                <label class="form-check-label" for="poznan">Poznań</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="kielce"
                                    ngModel
                                    name="kielce">
                                <label class="form-check-label" for="kielce">Kielce</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="katowice"
                                    ngModel
                                    name="katowice">
                                <label class="form-check-label" for="katowice">Katowice</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="gdansk"
                                    ngModel
                                    name="gdansk">
                                <label class="form-check-label" for="gdansk">Gdańsk</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="gdynia"
                                    ngModel
                                    name="gdynia">
                                <label class="form-check-label" for="gdynia">Gdynia</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="krakow"
                                    ngModel
                                    name="krakow">
                                <label class="form-check-label" for="krakow">Kraków</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="wroclaw"
                                    ngModel
                                    name="wroclaw">
                                <label class="form-check-label" for="wroclaw">Wrocław</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imagePost" class="font-weight-light">Wybierz plik z obrazkiem (max 1 MB)</label>
                        <input type="file" class="form-control-file" id="imagePost" accept="image/*" #fileInput
                               required>
                    </div>
                    <button type="submit"
                            class="btn btn-outline-success btn-lg col-lg-3 mx-auto d-block"
                            [disabled]="!f.valid">Dodaj post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
