<div class="container-fluid h-100">
    <div class="row mt-4 justify-content-center align-items-center h-auto">
        <div class="col-lg-10">
            <h2 class="text-center mb-4 alert alert-success">Zarejestruj się</h2>
            <form (ngSubmit)="onSignup()" #f="ngForm">
                <div class="form-group">
                    <label for="username">Login:*</label>
                    <input
                        type="username"
                        class="form-control"
                        id="username"
                        required
                        ngModel
                        name="username"
                        minlength="4"
                        maxlength="20"
                        #username="ngModel"
                    >
                    <small *ngIf="!username.valid && username.touched" id="usernameHelp">Login powinien zawierać od 4 do
                        20 znaków.
                    </small>
                </div>
                <div class="form-group">
                    <label for="password">Hasło:*</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        required
                        ngModel
                        name="password"
                        minlength="6"
                        maxlength="40"
                        #password="ngModel">
                    <small *ngIf="!password.valid && password.touched" id="passwordHelp">
                        Hasło powinno zawierać od 6 do 40 znaków.
                    </small>
                </div>
                <div class="form-group">
                    <label for="email">Email:*</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        ngModel
                        name="email"
                        required
                        email
                        maxlength="40"
                        #email="ngModel">
                    <small *ngIf="!email.valid && email.touched" id="emailHelp">Podaj
                        poprawny adres email.
                    </small>
                </div>
                <div class="form-group">
                    <label for="firstName">Imię:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="firstName"
                        ngModel
                        name="firstName"
                        maxlength="30">
                </div>
                <div class="form-group">
                    <label for="lastName">Nazwisko:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="lastName"
                        ngModel
                        name="lastName"
                        maxlength="30">
                </div>
                <span id="signupInfo">* - pola obowiązkowe</span>
                <div *ngIf="authService.loginOrEmailNotAvailable" class="alert alert-danger" role="alert">
                    Dany użytkownik już istnieje!
                </div>
                <button type="submit" [disabled]="!isSendButtonActivated || !f.valid"
                        class="btn btn-primary col-lg-3 mx-auto d-block mb-4 mt-3">Zarejestruj się
                </button>
            </form>
        </div>
    </div>
</div>
