<div class="container-fluid h-100">
    <div class="row mt-4 justify-content-center align-items-center h-auto">
        <div class="col-lg-10">
            <form (ngSubmit)="onEditPost(fileInput.files)" #f="ngForm">
                <div id="post-data">
                    <div class="form-group text-center">
                        <label for="title" class="font-weight-bold">Tytuł:</label>
                        <input
                            type="text"
                            class="form-control"
                            style="border: 1px solid black; background-color: #f8f4ff;"
                            id="title"
                            required
                            [ngModel]="[editedPost.title]"
                            name="title">
                    </div>
                    <div class="form-group text-center">
                        <label for="content" class="font-weight-bold">Treść:</label>
                        <textarea
                            class="form-control"
                            id="content"
                            style="border: 1px solid black; background-color: #f8f4ff;"
                            rows="7"
                            required
                            [ngModel]="[editedPost.content]"
                            name="content"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="imagePost" class="font-weight-light">Wybierz plik z obrazkiem</label>
                        <input type="file" class="form-control-file" id="imagePost" accept="image/*" #fileInput
                               (change)="submitBtn.disabled=false">
                    </div>
                    <div class="row mt-4">
                        <button type="submit"
                                class="btn btn-outline-primary btn-lg mx-auto d-block"
                                [disabled]="f.pristine || isSend || isImageSelect"
                                #submitBtn
                        >Zapisz
                        </button>
                        <button class="btn btn-outline-danger btn-lg mx-auto d-block"
                                [routerLink]="['/posts/',editedPost.id]">
                            Anuluj
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
