<div class="container-fluid h-100">
    <div class="row mt-4 justify-content-center align-items-center h-auto">
        <div class="col-lg-10">
            <form (ngSubmit)="onLogin()" #f="ngForm">
                <div class="form-group">
                    <label for="username">Login:*</label>
                    <input
                        type="username"
                        class="form-control"
                        id="username"
                        required
                        ngModel
                        name="username">
                </div>
                <div class="form-group">
                    <label for="password">Hasło:*</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        required
                        ngModel
                        name="password">
                </div>
                <button type="submit" class="btn btn-primary col-lg-3 mx-auto d-block mb-4 mt-3">Zaloguj się
                </button>
            </form>
        </div>
    </div>
</div>
